extends layout

block content
	section.hero.is-fullheight.is-dark.is-bold
		.hero-content
			.container
				h1.title= title
				h2.subtitle= content
				.columns
					.column
						.card
							.card-content
								.content
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								| Phasellus nec iaculis mauris. 
								a(href='#') @bulmaio
								| .
								a(href='#') #css
								a(href='#') #responsive
								br
								small 11:09 PM - 1 Jan 2016
